Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  misc-*,
  portability-*,
  hicpp-*,
  concurrency-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '5'
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-use-anyofallof.UseAnyOfAllOf
    value:           true
  - key:             readability-redundant-smartptr-get.IgnoreMacros
    value:           false
  - key:             modernize-use-std-print.PrintfLikeFunctions
    value:           'printf,fprintf,sprintf'
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
